<div class="content" role="main">
  <!-- Next Steps -->
  <h2>Noticias</h2>
  <span>¿Qué te gustaría leer hoy?</span>
</div>
<div class="container">
    <div *ngFor="let item of cardDisplay">
        <div class="card">
            <div class="left-column background1-left-column">
                <h6>{{item.title}}</h6>
                <!-- <div class="module line-clamp"> -->
                <div class="acortar">    
                    <p>{{item.description}}</p>

                </div>
                
            </div>
            <div class="right-column">
                <figure>
                  <div>
                    <img class="img_size" src={{item.urlToImage}} alt="imagen de noticias">
                    
                  </div>
                    <figcaption class="figcaption_format"><p>{{item.author}} </p>  </figcaption>
                </figure>
                
                <button class="button background1-left-column">
                  <!-- <a href={{item.url}}>Leer</a> -->
                  <a [routerLink]="['contenido','{{item.content}}']"> Leer</a>
                  </button>
            </div>
        </div>

    </div>
    
   
</div>

